body {
  font-family: 'Lora', serif;
  color: white;
  background: linear-gradient(90deg, rgba(181,180,198,1) 0%, rgba(14,141,209,1) 51%, rgba(88,219,219,1) 100%);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 14s ease infinite;
  -moz-animation: AnimationName 14s ease infinite;
  animation: AnimationName 14s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position: 0% 50%}
  50%{background-position:100% 50%}
  100%{background-position: 0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position: 0% 50%}
  50%{background-position:100% 50%}
  100%{background-position: 0% 50%}
}
@keyframes AnimationName { 
  0%{background-position: 0% 50%}
  50%{background-position:100% 50%}
  100%{background-position: 0% 50%}
}

.App {
  text-align: center;
}

#headerTitle {
  padding: 0 40px 0 40px;
}

#questionTitle {
  padding: 20px;
}

#questionAnswerTitle {
  padding: 20px;
}

.ui.card {
  width: 600px;
  background-color: lightgray;
}

.ui.button {
  margin-top: 20px;
}

.ui.primary.button {
  background-color: rgba(88,219,219,1);
  color: rgba(36,52,60,100);
}

.ui.header {
  padding: 20px;
}

#infoData {
  margin-top: 200px;
}

#questionCardContainer {
  align-content: center;
}

#categoryColumn {
  color: black;
}

