.App {
  text-align: center;
}

#headerTitle {
  padding: 20px;
}

#questionCard {
  float: right;
}

#questionTitle {
  padding: 20px;
}

#questionAnswerTitle {
  padding: 20px;
}

.ui.card {
  width: 600px;
}